{
  "parser"  : "babel-eslint",
  "extends" : "airbnb",
  "env"     : {
    "browser" : true
  },
  "globals" : {
    "__DEV__"      : false,
    "__PROD__"     : false,
    "__DEBUG__"    : false,
    "__COVERAGE__" : false,
    "__BASENAME__" : false
  },
  "rules": {
    "arrow-body-style": 0,
    "comma-dangle": 0,
    "eqeqeq": [2, "smart"],
    "global-require": 0,
    "max-len": [2, 120, 2],
    "no-param-reassign": 0,
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "prefer-const": 1
  }
}
